<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Suite">
    <test name="Run Chrome on Grid Server">
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="ui.runner.TestRunner"/>
        </classes>
    </test>
   <!-- <test name="Run API suite">
        <classes>
            <class name="api.runner.TestRunner"/>
        </classes>
    </test>
    <test name="Run Mobile suite">
        <classes>
            <class name="mobile.runner.TestRunner"/>
        </classes>
    </test>-->
</suite>
